<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="scripts/dash-script.js"></script>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="icon" style="margin-right: auto"><a href="/"><img src="./images/home-icon.png"> </a></li>
            <li class="nav-item" style="margin: auto"><button onclick="toggleDashButtons(this)">Make New List</button>
            </li>
            <li class="nav-item" style="margin: auto"><button onclick="toggleDashButtons(this)" href="#">My Past
                    Lists</button></li>
            <li class="nav-item" style="margin: auto"><button onclick="toggleDashButtons(this)" href="#">About
                    Us</button></li>
            <li class="icon" style="margin-left: auto"><button id="profile-icon" onclick="toggleProfileBar()"><img
                        src="./images/profile.png"></button></li>
        </ul>
    </nav>
    <main>
        <div class="sidebar" id="profile-bar">
            <div class="profile-list">
                <div class="profile-item" id="acc-details">
                    <span style="font-size: 24px;">Account Details</span>
                    <div class="sidebar-content">
                        <p>Name: <%= profile.name%> </p>
                        <p>Email: <%= profile.email%></p>
                        <p>Account Type: <%= profile.userType%></p>
                        <p>Member since: <%= profile.date%></p>
                        <button class="profile-action-btn" id="upgrade-acc" onclick="upgradeAccount()">Upgrade Account</button>
                        <button class="profile-action-btn" id="delete-acc">Delete Account</button>
                    </div>
                    <button class="profile-button" onclick="toggleProfileItem(this.parentNode)">
                        <img src=./images/expand.png>
                    </button>
                </div>
                <div class="profile-item">
                    <span style="font-size: 24px;">Security</span>
                    <div class="sidebar-content">
                        <h3>Change Password</h3>
                            <div class="form-group">
                                <label for="old-pass">Old Password</label>
                                <input type="password" name="old-pass" id="old-pass">
                            </div>
                            <div class="form-group">
                                <label for="new-pass">New Password</label>
                                <input type="password" name="new-pass" id="new-pass">
                            </div>
                            <div class="form-group">
                                <label for="confirm-pass">Confirm New Password</label>
                                <input type="password" name="confirm-pass" id="confirm-pass">
                            </div>
                            <div class="error-div">
                                <p id="error-msg"></p>
                            </div>
                            <button onclick="changePassword()" id="change-pass">Submit</button>
                    </div>
                    
                    <button class="profile-button"onclick="toggleProfileItem(this.parentNode)"><img src=./images/expand.png></button></div>
                <div class="profile-item"><button class="profile-button"
                        onclick="toggleProfileItem(this.parentNode)"><img src=./images/expand.png></button></div>
            </div>
        </div>
        <section class="main-content"></section>
    </main>
</body>

</html>