<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoppingSpree</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="scripts/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>

    <header>
    </header>

    <main>
        <div class="center">
            <img src="./images/logo.png" class="logo" draggable="false" id="home-logo">
            <p id = "home-msg2">Never get lost in a grocery store again.</p>
            <br>
            <p id = "home-msg">Welcome to ShoppingSpree!</p>

            <form action="/auth/login" method="get">
                <button id="get-started-btn">Get Started</button>
        </div>
    </main>
</body>

</html>