<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoppingSpree</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/scripts/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>

    <header>
    </header>

    <main>
        <div class="register-login">
            <div class="logo" id="login-logo">
                <img src="/images/logo.png" draggable="false" style="width: 100%; height: 100%">
            </div>
            <section id="login-form">
                <form action="/auth/login" , method="POST">
                    <h2 style="text-align:left; margin-top:-5%; margin-bottom: 27px; font-size: 24px;">Login</h2>
                    <label id="login-email-header" type="text">Email</label>
                    <input type="text" name="loginEmail" id="login-email" placeholder="someone@example.com"
                        value="<%= formData ? formData.loginEmail : '' %>">
                    <br><br>
                    <label id="login-password-header" type="text">Password</label>
                    <input type="password" name="loginPass" id="login-password"
                        value="<%= formData ? formData.loginPass : '' %>" placeholder="passWord123?">
                    <br>
                    <div class="error-div">
                        <% if (error) { %>
                            <p style="color: red;">
                                <%= error %>
                            </p>
                            <% } %>
                    </div>

                    <!--<section>
                <input id="remember-me-box" style="width: 20px" type="checkbox">
                <label id="remember-me-text">Remember Me</label>
            </section>
            might implement this feature later
            -->
                    <button id="login-button">Login</button>
                </form>
            </section>
            <br>
            <form action="/auth/register" method="get">Don't have an account?
                <button id="register-page-button">
                    <h3><u>Sign Up</u></h3>
                </button>
            </form>
            </section>
        </div>
    </main>
</body>

</html>