<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoppingSpree</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/scripts/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    </head>
<body>

<header>
    <div id="register-header">
    </div> 
</header>

<main>
    <div class="register-login">
        <img src="/images/logo.png" style="width: 100%; height: 40%" id="logo">
        <section>
            <h2 style="text-align:left; margin-top:-5%">Create Account</h2>
            <section class="register-box" style="text-align:center">
                <div id = "iam-buttons">
                <button name="type" id="customer" onclick=toggleCustomer()>Customer</button>
                <button name="type" id="owner" onclick=toggleOwner()>Store Owner</button>
                </div>
                <br>
            </section>
            <label id="register-email-header" type="text">Email</label>
            <input type="text" name="registerEmail" id="register-email" placeholder="someone@example.com">
            <br>

            <label id="register-password-header" type="text">Password</label>
            <input type="password" name="registerPass" id="register-password" placeholder="eggrollplant123?">
            <section>
                <input id="remember-me" style="width: 10px"type="checkbox">Remember Me>
            </section>
            <br>
            <button id="register-button" onclick="store_page()">Create Account</button>
        </section>
    </div>
</main>
</body>
</html>