:root {
    --site-yellow: hsl(43, 100%, 60%);
    --secondary-yellow: hsl(43, 90%, 67%);
    --main-blue: hsl(218, 58%, 12%);
    --lighter-blue: hsl(218, 58%, 25%);
    --darker-blue: hsl(221, 54%, 7%);
    --darkest-blue: hsl(223, 50%, 5%);
    --text-color: #383636;
  }

body {
    background-color: #9fa0cc;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    background-image: url("../images/background.jpg");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.logo {
    aspect-ratio: 1 / 1;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.center {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: top;
    height: 100vh;
    width: 35vw;
    background-color: var(--darker-blue);
}

#home-logo {
    width: 500px;
    height: 500px;
}


#home-msg {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

#home-msg2 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

#get-started-btn {
    width: 50%;
    margin-left: 25%;
    background-color: var(--site-yellow);
    border: none;
    color: var(--main-blue);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: 1px solid var(--main-blue);
    font-family: 'Abel', sans-serif;
    border-radius: 5px;
}

#get-started-btn:hover {
    cursor: grab;
    background-color: var(--secondary-yellow);
}

input {
    width: 98%;
    font-family: 'Abel', sans-serif;
}

button {
    background-color: #f0f0f6;
    border: none;
    color: var(--darker-blue);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: 1px solid black;
    font-family: 'Abel', sans-serif;
    width: 49.4%;
}

#login-button {
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%;
}

.error-div {
min-height: 5vh;
}

#register-page-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
}

#main-logo {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#iam-text {
    font-size: 20px;
}

.register-login {
    position: relative;
    visibility: visible;
    min-width: 500px;
    max-width: 30vw;
    min-height: 100vh;
    height: 96.5vh;
    padding: 1%;
    background-color: var(--darkest-blue);
    overflow-y:auto;
}

#login-logo {
    height: 300px;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-page-button:hover {
    cursor: grab;
}

#remember-me-box {
    position: relative;
    margin-top: 17px;
    margin-bottom: 10px;
    margin-left: 0px;
    right: 5px;
}

#remember-me-text {
    position: relative;
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 13px;
    right: 11px;
    bottom: 1.5px;
}

#register-title {
    font-size: 50px;
    letter-spacing: 10px;
}

#register-email {
    margin-bottom: 20px;
}

#register-button {
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%;
    font-size: 24px;
}

#register-button:hover {
    cursor: grab;
    background-color: lightgrey;
}

#register-password-header {
    margin-top: 100px;
}

#login-password {
    margin-bottom: 10px;
}

#owner-btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#customer-btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inactive {
    background-color: #222222;
}

.active {
    color: #090018;
    background-color: white;
}

.acc-type-btn:hover {
    background-color: lightgrey;
}